.git
CNAME
.DS_Store
vendor
.bundle
Gemfile
Gemfile.lock
_authors/trophic.md
_data/navigation.yml
_includes/footer.html
_includes/header.html
_includes/navigation.html
_layouts/author.html
_layouts/comic.html
_layouts/default.html
_layouts/post.html
_posts/2018-10-05-comic1.markdown
_posts/2018-10-05-projects.markdown
_sass/main.scss
_Secrets/spookstersonly.md
_staff/staff.html
about.html
assets/css/styles.scss
assets/img/favicon.png
assets/img/logo.png
assets/js/scale.fix.js
blog.html
comics.html
index.html
oldhtml/index.html
oldhtml/oldnew/index.html
oldhtml/oldnew/page2.html
oldhtml/oldnew/page3.html
oldhtml/oldnew/stats.html
oldhtml/page2.html
oldhtml/page3.html
oldhtml/stats.html
oldhtml/tempcontent
