body {
  background-color:#de9bb9;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#1e1e1e;
	padding:50px;
  font-weight:400;
}

section {
	float:right;
	background-color:#de9bb9;
  width:850px;
	margin-right: 50px
}

footer {
	position:bottom;
	float: left;
	background-color:#de9bb9;
  padding-bottom:20px;
  -webkit-font-smoothing:subpixel-antialiased;
}

header {
	float:left;
  width:125px;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

/* text */

h1 {
	color: transparent;
	margin:0 0 20px;
  line-height:1.1;
  font-size:48px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s;
}

h2 {
	color: transparent;
	margin:20px 0 0 0;
  line-height:1.1;
  font-size:30px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s;
}

p {
	padding: auto;
  margin: auto;
}

a {
	color: transparent;
	text-shadow: 1px -1px #e3498e,
	 						 0px 0px black,
	  					 -1px -1px black,
							 -1px 1px black;
	text-decoration: none;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s;
}

a:hover, a:focus {
  text-shadow: 0px -1px #de9bb9,
	 						 0px 0px #267CB9,
	 						 -1px -1px #267CB9,
	 						 -1px 1px #267CB9;
}

a small {
	margin-top:-0.3em;
  font-size:18px;
  display:block;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:18px;
	font-weight:bold;
}

/* The checkbox hack! Credit to https://gist.github.com/arbales/592332 */

input[type=checkbox] {
	 display:none;
}

input[type=checkbox] + label {
	 height: auto;
	 width: auto;
	 display:inline-block;
}

input[type=checkbox]:checked + label {
	-webkit-filter:blur(11px);
	 height: auto;
	 width: auto;
	 display:inline-block;
}

/* social icons style */

.fa-instagram, .fa-linkedin, .fa-github{
	color: transparent;
}

/* tags style */

.tags {
	text-shadow: 1px -1px #e3498e,
							 0px -1px black,
							 0px 0px black;
}

@media print, screen and (max-width: 1200px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section{
    float:none;
    position:static;
    width:auto;
  }

	header {
    padding:0;
  }

  section {
    border-width:1px 0;
    margin:0 0 0px;
  }

  header a small {
    display:inline;
  }

  .footer {
		position:bottom;
		float: left;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:50px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }

	section {
		width:auto;
	}

  .footer {
		position:bottom;
		float: left;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
  .footer {
		position:bottom;
		float: left;
  }
}
